
.body {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.header {
    border: 2px solid grey;
    max-width: 1024px;
    min-width: 512px;
    position: relative;
    display: flex; 
    margin: auto;
    border-bottom: none;
    }
.header_name{
    justify-content: center;
    flex-direction: column;
    margin: auto;
    
}
.img_my_foto {
    float: left;
    margin-left: 80px;
}
.indent{
    padding: 0px 20px;
}
.contacts {
    float: right;
    margin-right: 80px;
       
}
.skills {
    padding-left: 20px;
}
.contacts ul {
    list-style: none;
    list-style-type: none;
    color: bisque;
}
.name {
    font-size: 32px;
    text-align: center;
}
.up_case {
    text-align: center;
    text-transform: uppercase;
}
.section {
    border: 2px solid grey;
    max-width: 1024px;
    min-width: 512px;
    position: relative;
    display: -webkit-flex; 
    display: flex; 
    margin: auto;
    flex-direction: column;
    
}
.footer {
    border: 2px solid grey;
    max-width: 1024px;
    min-width: 512px;
    position: relative;
    display: flex; 
    margin: auto;
    border-top: none;
    
}